html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif, Arial;
  color: #454545;
  background-color: white;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace, Arial;
}

p {
  font-size: 20px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#landing {
  overflow: hidden;
  height: 100vh;
  background-color: #454545;
}

#landing .titleText {
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 6.5em;
  font-weight: 900;
  top: calc(50% - 41%);
  margin: 0;
  margin-left: 16%;
}

#landing .titleText .forename {
  color: #ff9800;
}

#landing .titleText .surname {
  padding-top: 500px;
  color: #fff;
}

#landing #downScroll {
  font-size: 6.5em;
  font-weight: 900;
  color: #ff9800;
  position: absolute;
  left: calc(50% - 0.5em);
  top: calc(100% - 20%);
}

#landing #downScroll:active {
  color: #fff;
}

#landing .social {
  display: none;
}

#aboutMe {
  height: 100vh;
  overflow: hidden;
}

#aboutMe .sidebar {
  display: none;
}

#aboutMe #showpiece {
  position: relative;
  top: -1em;
  left: -20em;
}

#aboutMe #showpiecesmall {
  position: relative;
  top: -7em;
  left: calc(100% - 4rem);
  opacity: 1;
}

.circle {
  z-index: 1;
  border-radius: 50%;
}

.orangeCircle {
  background-color: #ff9800;
  opacity: 0.9;
}

.grayCircle {
  background-color: #454545;
}

.bigCircle {
  width: 45rem;
  height: 45rem;
}

.mediumCircle {
  width: 12rem;
  height: 12rem;
}

#aboutMeContainer {
  top: 115%;
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  display: -ms-grid;
  display: grid;
}

#aboutMeContainer h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
  color: #2f2f2f;
  text-transform: uppercase;
}

#aboutMeContainer p {
  font-size: 20px;
  color: #2f2f2f;
}

#aboutMeContainer img {
  display: none;
}

#portfolio {
  overflow: hidden;
}

#portfolio .header {
  background-color: #fff;
  height: 15vh;
  overflow: hidden;
  position: relative;
}

#portfolio .header .desktop {
  display: none;
}

#portfolio .header .mobile {
  display: block;
}

#portfolio .header h1 {
  position: absolute;
  bottom: 0;
  top: 38%;
  left: -5%;
  font-size: 75px;
  font-weight: 900;
  color: #454545;
  text-transform: uppercase;
  margin: 0;
}

#portfolio .content {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 12.5%;
  padding-top: 7.5%;
  background-color: #454545;
  width: 90%;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
      grid-template-areas: "card1" "card2" "card3";
}

#portfolio .content .card {
  position: relative;
  left: 7.5%;
  color: #535353;
  background-color: #fff;
  border-radius: 2%;
  padding: 5%;
  width: 75%;
  margin-top: 5%;
}

#portfolio .content .card h3 {
  text-transform: uppercase;
  color: #ff9800;
  font-weight: 900;
  font-size: 1.7em;
  margin: 0;
}

#portfolio .content .card p {
  font-size: 20px;
}

#portfolio .content .card .bold {
  color: #ff9800;
  font-weight: 700;
}

#portfolio .content .card hr {
  border: 1.5px solid #ff9800;
  border-radius: 5px;
  width: 90%;
}

#portfolio .content .card #links {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

#portfolio .content .card #links.col2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#portfolio .content .card #links.col3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

#portfolio .content .card #links a {
  text-decoration: none;
  color: #ff9800;
  font-size: 2em;
}

#portfolio .content .card #links a:hover {
  color: #ffc300;
}

#portfolio .content #card1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: card1;
}

#portfolio .content #card2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card2;
}

#portfolio .content #card2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: card3;
}

#contact {
  height: 33vh;
  background-color: #ffc300;
}

#contact .heading {
  color: #535353;
  text-align: center;
  margin-top: 0;
  position: relative;
  padding-top: 3%;
}

#contact .heading h1 {
  text-transform: uppercase;
  margin-top: 0;
  font-size: 50px;
}

#contact .social {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "icon1 icon2 icon3" "caption1 caption2 caption3";
  width: 80%;
  position: relative;
  left: calc(50% - 40%);
  text-align: center;
}

#contact .social a {
  text-decoration: none;
  font-size: 3.5em;
  color: #454545;
}

#contact .social a:active {
  color: #000;
}

#contact .social a:hover {
  color: #fff;
}

#contact .social #ICON-L {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon1;
}

#contact .social #ICON-G {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: icon2;
}

#contact .social #ICON-R {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: icon3;
}

#contact .social #CAP-L {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: caption1;
}

#contact .social #CAP-G {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: caption2;
}

#contact .social #CAP-R {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: caption3;
}

@media (min-width: 700px) {
  #landing .titleText {
    position: relative;
    font-size: 10em;
    font-weight: 900;
    top: calc(50% - 2.7em);
    margin: 0;
    margin-left: 11%;
  }
  #landing .titleText .forename {
    color: #ff9800;
  }
  #landing .titleText .surname {
    color: #fff;
  }
  #landing #downScroll {
    font-size: 6.5em;
    font-weight: 900;
    color: #ff9800;
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(100% - 15%);
  }
  #landing #downScroll:hover {
    color: #ffc300;
  }
  #landing #downScroll:active {
    color: #fff;
  }
  #landing .social {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "portfolio portfolio portfolio" "icon1 icon2 icon3" "caption1 caption2 caption3";
    position: absolute;
    width: 35%;
    margin-left: 55%;
    margin-right: 10%;
    top: calc(50% - 10em);
    text-align: center;
  }
  #landing .social #CAPTION {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: portfolio;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 0;
    font-size: 2.5em;
  }
  #landing .social #ICON-L {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: icon1;
  }
  #landing .social #ICON-G {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: icon2;
  }
  #landing .social #ICON-R {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: icon3;
  }
  #landing .social #CAP-L {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: caption1;
  }
  #landing .social #CAP-G {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: caption2;
  }
  #landing .social #CAP-R {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: caption3;
  }
  #landing .social p {
    font-size: 1em;
    font-weight: 600;
    color: #fff;
    margin-top: 0;
  }
  #landing .social a {
    font-size: 8em;
    color: #ff9800;
  }
  #landing .social a:active {
    color: #fff;
  }
  #landing .social a:hover {
    color: #ffc300;
  }
  #aboutMe {
    height: 100vh;
  }
  #aboutMe .sidebar {
    display: block;
    width: 25%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 15rem);
    left: calc(25% - 15rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(167%);
    left: calc(38%);
  }
  .circle {
    z-index: 999;
  }
  .bigCircle {
    width: 30rem;
    height: 30rem;
  }
  .mediumCircle {
    width: 12rem;
    height: 12rem;
  }
  #aboutMeContainer {
    position: relative;
    top: -280px;
    margin-left: 55%;
    margin-right: 15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "title title title" "text text text" "img1 img2 img3";
  }
  #aboutMeContainer h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: title;
    color: #454545;
  }
  #aboutMeContainer p {
    font-size: 18px;
    color: #535353;
    text-align: justify;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: text;
  }
  #aboutMeContainer .aboutIcon {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    width: 80%;
    height: 130%;
    margin-left: 10%;
    overflow: hidden;
  }
  #aboutMeContainer img {
    display: block;
  }
  #aboutMeContainer #img1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img1;
    border-color: #ff9800;
  }
  #aboutMeContainer #img1 img {
    position: relative;
    width: 60%;
    height: 70%;
    top: calc(50% - 35%);
    left: calc(50% - 35%);
  }
  #aboutMeContainer #img2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: img2;
    border-color: #ffae00;
  }
  #aboutMeContainer #img2 img {
    position: relative;
    width: 70%;
    height: 70%;
    top: calc(50% - 35%);
    left: calc(50% - 35%);
  }
  #aboutMeContainer #img3 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: img3;
    border-color: #ffe600;
  }
  #aboutMeContainer #img3 img {
    position: relative;
    width: 70%;
    height: 70%;
    top: calc(50% - 35%);
    left: calc(50% - 35%);
  }
  #portfolio .header {
    background-color: #fff;
    height: 26vh;
    overflow: hidden;
  }
  #portfolio .header .desktop {
    display: block;
  }
  #portfolio .header .mobile {
    display: none;
  }
  #portfolio .header h1 {
    position: relative;
    top: -13%;
    left: -60%;
    font-size: 15em;
    font-weight: 900;
    color: #454545;
    margin: 0;
  }
  #portfolio .content {
    height: 74vh;
        grid-template-areas: "card1 card2 card3";
    padding: 5%;
    width: 90%;
  }
  #portfolio .content .card {
    position: relative;
    left: 10%;
    top: calc(50% - 33.5%);
    color: #535353;
    background-color: #fff;
    border-radius: 2%;
    width: 70%;
    height: 62%;
    margin-top: 0%;
    -webkit-box-shadow: #2f2f2f;
            box-shadow: #2f2f2f;
  }
  #portfolio .content .card p {
    font-size: 18px;
  }
}

@media (min-width: 1000px) and (aspect-ratio: 16 / 9) {
  #landing .titleText {
    position: relative;
    font-size: 12em;
    font-weight: 900;
    top: calc(50% - 2.7em);
    margin: 0;
    margin-left: 10%;
  }
  #landing .titleText .forename {
    color: #ff9800;
  }
  #landing #downScroll {
    font-size: 6.5em;
    font-weight: 900;
    color: #ff9800;
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(100% - 16%);
  }
  #landing #downScroll:active {
    color: #fff;
  }
  #landing .social {
    width: 30%;
    margin-left: 60%;
    top: calc(50% - 10%);
  }
  #landing .social p {
    font-size: 1.5em;
    font-weight: 600;
  }
  #landing .social a {
    font-size: 10em;
  }
  #aboutMe .sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 15rem);
    left: calc(30% - 15rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(167%);
    left: calc(38%);
  }
  #aboutMeContainer {
    position: relative;
    top: -120px;
    margin-left: 55%;
    margin-right: 15%;
  }
  #portfolio .header h1 {
    font-size: 16em;
    top: 5%;
  }
  #portfolio .content {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
  }
  #portfolio .content .card {
    height: 64%;
  }
}

@media (min-width: 2000px) and (aspect-ratio: 16 / 9) {
  #landing .titleText {
    font-size: 16em;
    margin-left: 10%;
  }
  #landing #downScroll {
    font-size: 13em;
  }
  #landing .social {
    width: 30%;
    margin-left: 60%;
    top: calc(50% - 10%);
  }
  #landing .social p {
    font-size: 2em;
    font-weight: 600;
  }
  #landing .social a {
    font-size: 13em;
  }
  #aboutMe .sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 25rem);
    left: calc(30% - 25rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(169%);
    left: calc(40%);
  }
  .bigCircle {
    width: 50rem;
    height: 50rem;
  }
  .mediumCircle {
    width: 21rem;
    height: 21rem;
  }
  #aboutMeContainer {
    position: relative;
    top: -450px;
    margin-left: 65%;
    margin-right: 15%;
  }
  #aboutMeContainer h1 {
    font-size: 60px;
    padding-bottom: 20px;
  }
  #aboutMeContainer p {
    font-size: 27px;
    padding-bottom: 30px;
  }
  #portfolio .header h1 {
    font-size: 25em;
    top: -10%;
  }
  #portfolio .content {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #portfolio .content .card {
    width: 80%;
  }
  #portfolio .content .card h3 {
    font-size: 3em;
  }
  #portfolio .content .card p {
    font-size: 2em;
  }
  #portfolio .content .card #links a {
    font-size: 3.2em;
  }
  #contact .heading h1 {
    font-size: 3em;
  }
  #contact .social {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "icon1 icon2 icon3" "caption1 caption2 caption3";
    width: 60%;
    left: calc(50% - 30%);
  }
  #contact .social a {
    font-size: 6em;
  }
  #contact .social p {
    font-size: 2em;
  }
}

@media (min-width: 3300px) and (aspect-ratio: 16 / 9) {
  #landing .titleText {
    font-size: 25em;
    margin-left: 9%;
  }
  #landing #downScroll {
    font-size: 20em;
  }
  #landing .social {
    width: 30%;
    margin-left: 60%;
    top: calc(50% - 10%);
  }
  #landing .social p {
    font-size: 3em;
    font-weight: 600;
  }
  #landing .social a {
    font-size: 21em;
  }
  #aboutMe .sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 37.5rem);
    left: calc(30% - 37.5rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(169%);
    left: calc(40%);
  }
  .bigCircle {
    width: 75rem;
    height: 75rem;
  }
  .mediumCircle {
    width: 34rem;
    height: 34rem;
  }
  #aboutMeContainer {
    position: relative;
    top: -650px;
    margin-left: 65%;
    margin-right: 15%;
  }
  #aboutMeContainer h1 {
    font-size: 90px;
    padding-bottom: 20px;
  }
  #aboutMeContainer p {
    font-size: 40px;
    padding-bottom: 30px;
  }
  #portfolio .header h1 {
    font-size: 40em;
    top: -17%;
  }
  #portfolio .content {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  #portfolio .content .card h3 {
    font-size: 4em;
  }
  #portfolio .content .card p {
    font-size: 2.7em;
  }
  #portfolio .content .card #links a {
    font-size: 6em;
  }
  #contact .heading h1 {
    font-size: 5em;
  }
  #contact .social {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "icon1 icon2 icon3" "caption1 caption2 caption3";
    width: 60%;
    left: calc(50% - 30%);
  }
  #contact .social a {
    font-size: 10em;
  }
  #contact .social p {
    font-size: 3em;
  }
}
/*# sourceMappingURL=main.css.map */