html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #454545;
  background-color: white;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: "Roboto Mono", monospace;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#landing {
  overflow: hidden;
  height: 100vh;
  background-color: #454545;
}

#landing .titleText {
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-size: 6.5em;
  font-weight: 900;
  top: calc(50% - 41%);
  margin: 0;
  margin-left: 16%;
}

#landing .titleText .forename {
  color: #ff9800;
}

#landing .titleText .surname {
  padding-top: 500px;
  color: #fff;
}

#landing #downScroll {
  font-size: 6.5em;
  font-weight: 900;
  color: #ff9800;
  position: absolute;
  left: calc(50% - 0.5em);
  top: calc(100% - 20%);
}

#landing #downScroll:active {
  color: #fff;
}

#aboutMe {
  height: 100vh;
  overflow: hidden;
}

#aboutMe .sidebar {
  display: none;
}

#aboutMe #showpiece {
  position: relative;
  top: -1em;
  left: -20em;
}

#aboutMe #showpiecesmall {
  position: relative;
  top: -7em;
  left: calc(100% - 4rem);
  opacity: 1;
}

.circle {
  z-index: 1;
  border-radius: 50%;
}

.orangeCircle {
  background-color: #ff9800;
  opacity: 0.9;
}

.grayCircle {
  background-color: #454545;
}

.bigCircle {
  width: 45rem;
  height: 45rem;
}

.mediumCircle {
  width: 12rem;
  height: 12rem;
}

#aboutMeContainer {
  top: 115%;
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  display: -ms-grid;
  display: grid;
}

#aboutMeContainer h1 {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
  color: #2f2f2f;
  text-transform: uppercase;
}

#aboutMeContainer p {
  font-size: 20px;
  color: #2f2f2f;
}

#aboutMeContainer img {
  display: none;
}

@media (min-width: 700px) {
  #landing .titleText {
    position: relative;
    font-size: 9em;
    font-weight: 900;
    top: calc(50% - 2.5em);
    margin: 0;
    margin-left: 10%;
  }
  #landing .titleText .forename {
    color: #ff9800;
  }
  #landing .titleText .surname {
    color: #fff;
  }
  #landing #downScroll {
    font-size: 6.5em;
    font-weight: 900;
    color: #ff9800;
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(100% - 20%);
  }
  #landing #downScroll:active {
    color: #fff;
  }
  #aboutMe {
    height: 100vh;
  }
  #aboutMe .sidebar {
    display: block;
    width: 25%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 15rem);
    left: calc(25% - 15rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(167%);
    left: calc(38%);
  }
  .circle {
    z-index: 999;
  }
  .bigCircle {
    width: 30rem;
    height: 30rem;
  }
  .mediumCircle {
    width: 12rem;
    height: 12rem;
  }
  #aboutMeContainer {
    position: relative;
    top: -280px;
    margin-left: 55%;
    margin-right: 15%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: "title title title" "text text text" "img1 img2 img3";
  }
  #aboutMeContainer h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: title;
    color: #454545;
  }
  #aboutMeContainer p {
    font-size: 20px;
    color: #535353;
    text-align: justify;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: text;
  }
  #aboutMeContainer .aboutIcon {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    width: 80%;
    height: 120%;
    margin-left: 10%;
    overflow: hidden;
  }
  #aboutMeContainer img {
    display: block;
  }
  #aboutMeContainer #img1 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: img1;
    border-color: #ff9800;
  }
  #aboutMeContainer #img1 img {
    position: relative;
    width: 60%;
    height: 70%;
    top: calc(50% - 35%);
    left: calc(50% - 35%);
  }
  #aboutMeContainer #img2 {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: img2;
    border-color: #ffae00;
  }
  #aboutMeContainer #img2 img {
    position: relative;
    width: 70%;
    height: 70%;
    top: calc(50% - 35%);
    left: calc(50% - 35%);
  }
  #aboutMeContainer #img3 {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: img3;
    border-color: #ffe600;
  }
  #aboutMeContainer #img3 img {
    position: relative;
    width: 70%;
    height: 70%;
    top: calc(50% - 35%);
    left: calc(50% - 35%);
  }
}

@media (min-width: 1000px) and (aspect-ratio: 16 / 9) {
  #landing .titleText {
    position: relative;
    font-size: 12em;
    font-weight: 900;
    top: calc(50% - 2.5em);
    margin: 0;
    margin-left: 10%;
  }
  #landing .titleText .forename {
    color: #ff9800;
  }
  #landing #downScroll {
    font-size: 6.5em;
    font-weight: 900;
    color: #ff9800;
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(100% - 20%);
  }
  #landing #downScroll:active {
    color: #fff;
  }
  #aboutMe .sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 15rem);
    left: calc(30% - 15rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(167%);
    left: calc(38%);
  }
  #aboutMeContainer {
    position: relative;
    top: -120px;
    margin-left: 55%;
    margin-right: 15%;
  }
}

@media (min-width: 2000px) and (aspect-ratio: 16 / 9) {
  #landing .titleText {
    font-size: 16em;
    margin-left: 10%;
  }
  #landing #downScroll {
    font-size: 13em;
  }
  #aboutMe .sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 25rem);
    left: calc(30% - 25rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(169%);
    left: calc(40%);
  }
  .bigCircle {
    width: 50rem;
    height: 50rem;
  }
  .mediumCircle {
    width: 21rem;
    height: 21rem;
  }
  #aboutMeContainer {
    position: relative;
    top: -450px;
    margin-left: 65%;
    margin-right: 15%;
  }
  #aboutMeContainer h1 {
    font-size: 60px;
    padding-bottom: 20px;
  }
  #aboutMeContainer p {
    font-size: 27px;
    padding-bottom: 30px;
  }
}

@media (min-width: 3300px) and (aspect-ratio: 16 / 9) {
  #landing .titleText {
    font-size: 25em;
    margin-left: 9%;
  }
  #landing #downScroll {
    font-size: 20em;
  }
  #aboutMe .sidebar {
    width: 30%;
    height: 100%;
    float: left;
    background-color: #dedede;
  }
  #aboutMe #showpiece {
    position: relative;
    top: calc(50% - 37.5rem);
    left: calc(30% - 37.5rem);
  }
  #aboutMe #showpiecesmall {
    position: absolute;
    top: calc(169%);
    left: calc(40%);
  }
  .bigCircle {
    width: 75rem;
    height: 75rem;
  }
  .mediumCircle {
    width: 34rem;
    height: 34rem;
  }
  #aboutMeContainer {
    position: relative;
    top: -650px;
    margin-left: 65%;
    margin-right: 15%;
  }
  #aboutMeContainer h1 {
    font-size: 90px;
    padding-bottom: 20px;
  }
  #aboutMeContainer p {
    font-size: 44px;
    padding-bottom: 30px;
  }
}
/*# sourceMappingURL=main.css.map */