$font-stack: "Montserrat", sans-serif, Arial;
$font-headings: "Roboto Mono", monospace;
$gainsclr: #dedede;
$vividclr: #ff9800;
$hoverclr: #ffc300;
$ivoryclr: #fffff0;
$spaceclr: #454545;
$textclr: #535353;
$stormclr: #4e6766;

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: $font-stack;
  color: $spaceclr;
  background-color: white;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: $font-headings;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#landing {
  overflow: hidden;
  height: 100vh;
  background-color: $spaceclr;

  .titleText {
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    font-size: 6.5em;
    font-weight: 900;
    top: calc(50% - 41%);
    margin: 0;
    margin-left: 16%;
    .forename {
      color: $vividclr;
    }
    .surname {
      padding-top: 500px;
      color: #fff;
    }
  }

  #downScroll {
    font-size: 6.5em;
    font-weight: 900;
    color: $vividclr;
    position: absolute;
    left: calc(50% - 0.5em);
    top: calc(100% - 20%);
  }
  #downScroll:active {
    color: #fff;
  }

  .social {
    display: none;
  }
}

#aboutMe {
  height: 100vh;
  overflow: hidden;

  .sidebar {
    display: none;
  }

  #showpiece {
    position: relative;
    top: -1em;
    left: -20em;
    // margin-right: 0;
  }

  #showpiecesmall {
    position: relative;
    top: -7em;
    left: calc(100% - 4rem);
    opacity: 1;
  }
}

.circle {
  z-index: 1;
  border-radius: 50%;
}

.orangeCircle {
  background-color: $vividclr;
  opacity: 0.9;
}

.grayCircle {
  background-color: $spaceclr;
}

.bigCircle {
  width: 45rem;
  height: 45rem;
}

.mediumCircle {
  width: 12rem;
  height: 12rem;
}

#aboutMeContainer {
  // top: 800px;
  top: 115%;
  z-index: 2;
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;

  h1 {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
    color: #2f2f2f;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
    color: #2f2f2f;
  }
  img {
    display: none;
  }
}

#portfolio{
    // height: 200vh;
    // background-color: #fff;
    .header{
      background-color: #fff;
      height: 15vh;
      overflow: hidden;
      position: relative;
      .desktop{
        display: none;
      }
      .mobile{
        display: block;
      }
      h1{
        position: absolute;
        bottom: 0;
        // left: -16%;
        left: 0;
        font-size: 70px;
        font-weight: 900;
        color: $spaceclr;
        text-transform: uppercase;
        margin: 0;
        
      }
    }
    .content{
      background-color: $spaceclr;
      height: 85vh;
    }
}

@media (min-width: 700px) {
  #landing {
    .titleText {
      position: relative;
      font-size: 10em;
      font-weight: 900;
      // top: calc(50% - 41%);
      top: calc(50% - 2.5em);
      margin: 0;
      margin-left: 11%;
      .forename {
        color: $vividclr;
      }
      .surname {
        color: #fff;
      }
    }
    // .titleText:hover .forename{
    //   color: $hoverclr;
    // }

    #downScroll {
      font-size: 6.5em;
      font-weight: 900;
      color: $vividclr;
      position: absolute;
      left: calc(50% - 0.5em);
      top: calc(100% - 15%);
    }
    #downScroll:hover {
      color: $hoverclr;
    }
    #downScroll:active {
      color: #fff;
    }

    .social {
      display: grid;
      grid-template-areas:
        "portfolio portfolio portfolio"
        "icon1 icon2 icon3"
        "caption1 caption2 caption3";
      position: absolute;
      width: 35%;
      margin-left: 55%;
      margin-right: 10%;
      top: calc(50% - 10em);
      text-align: center;
      #CAPTION {
        grid-area: portfolio;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0;
        font-size: 2.5em;
      }
      #ICON-L {
        grid-area: icon1;
      }
      #ICON-G {
        grid-area: icon2;
      }
      #ICON-R {
        grid-area: icon3;
      }
      #CAP-L {
        grid-area: caption1;
      }
      #CAP-G {
        grid-area: caption2;
      }
      #CAP-R {
        grid-area: caption3;
      }

      p {
        font-size: 1em;
        font-weight: 600;
        color: #fff;
        margin-top: 0;
      }
      a {
        font-size: 8em;
        color: $vividclr;
      }
      a:active {
        color: #fff;
      }
      a:hover {
        color: $hoverclr;
      }
    }
  }
  #aboutMe {
    height: 100vh;
    .sidebar {
      display: block;
      width: 25%;
      height: 100%;
      float: left;
      background-color: $gainsclr;
    }
    #showpiece {
      position: relative;
      top: calc(50% - 15rem);
      left: calc(25% - 15rem);
    }
    #showpiecesmall {
      position: absolute;
      top: calc(167%);
      left: calc(38%);
    }
  }
  .circle {
    z-index: 999;
  }

  .bigCircle {
    width: 30rem;
    height: 30rem;
  }

  .mediumCircle {
    width: 12rem;
    height: 12rem;
  }
  #aboutMeContainer {
    position: relative;
    top: -280px;
    margin-left: 55%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "title title title"
      "text text text"
      "img1 img2 img3";

    h1 {
      font-size: 45px;
      font-weight: bold;
      margin-bottom: 0;
      grid-area: title;
      color: $spaceclr;
    }

    p {
      font-size: 20px;
      color: $textclr;
      text-align: justify;
      grid-area: text;
    }

    .aboutIcon {
      border-radius: 50%;
      border-style: solid;
      border-width: 2px;
      width: 80%;
      height: 130%;
      margin-left: 10%;
      overflow: hidden;
    }

    img {
      display: block;
    }

    #img1 {
      grid-area: img1;
      border-color: #ff9800;
      img {
        position: relative;
        width: 60%;
        height: 70%;
        top: calc(50% - 35%);
        left: calc(50% - 35%);
      }
    }

    #img2 {
      grid-area: img2;
      border-color: #ffae00;
      img {
        position: relative;
        width: 70%;
        height: 70%;
        top: calc(50% - 35%);
        left: calc(50% - 35%);
      }
    }

    #img3 {
      grid-area: img3;
      border-color: #ffe600;
      img {
        position: relative;
        width: 70%;
        height: 70%;
        top: calc(50% - 35%);
        left: calc(50% - 35%);
      }
    }
  }
  #portfolio{
    // height: 200vh;
    // background-color: #fff;
    .header{
      background-color: #fff;
      height: 26vh;
      overflow: hidden;
      .desktop{
        display: block;
      }
      .mobile{
        display: none;
      }
      h1{
        position: relative;
        top: 5%;
        left: -60%;
        font-size: 15em;
        font-weight: 900;
        color: $spaceclr;
        margin: 0;
        
      }
    }
    .content{
      background-color: $spaceclr;
      height: 74vh;
    }
}
}

@media (min-width: 1000px) and (aspect-ratio: 16/9) {
  #landing {
    .titleText {
      position: relative;
      font-size: 12em;
      font-weight: 900;
      // top: calc(50% - 41%);
      top: calc(50% - 2.5em);
      margin: 0;
      margin-left: 10%;
      .forename {
        color: $vividclr;
      }
    }
    #downScroll {
      font-size: 6.5em;
      font-weight: 900;
      color: $vividclr;
      position: absolute;
      left: calc(50% - 0.5em);
      top: calc(100% - 20%);
    }
    #downScroll:active {
      color: #fff;
    }

    .social {
      width: 30%;
      margin-left: 60%;
      top: calc(50% - 10%);

      p {
        font-size: 1.5em;
        font-weight: 600;
      }
      a {
        font-size: 10em;
      }
    }
  }

  #aboutMe {
    .sidebar {
      // display: block;
      width: 30%;
      height: 100%;
      float: left;
      background-color: $gainsclr;
      // box-shadow: 0px 0px 1px 1px #AAA;
    }
    #showpiece {
      position: relative;
      top: calc(50% - 15rem);
      left: calc(30% - 15rem);
    }
    #showpiecesmall {
      position: absolute;
      top: calc(167%);
      left: calc(38%);
      // top: ca
    }
  }

  #aboutMeContainer {
    position: relative;
    top: -120px;
    margin-left: 55%;
    margin-right: 15%;

    h1 {
    }

    p {
    }
  }
}

@media (min-width: 2000px) and (aspect-ratio: 16/9) {
  #landing {
    .titleText {
      font-size: 16em;
      margin-left: 10%;
    }
    #downScroll {
      font-size: 13em;
    }
    .social {
      width: 30%;
      margin-left: 60%;
      top: calc(50% - 10%);

      p {
        font-size: 2em;
        font-weight: 600;
      }
      a {
        font-size: 13em;
      }
    }
  }
  #aboutMe {
    .sidebar {
      width: 30%;
      height: 100%;
      float: left;
      background-color: $gainsclr;
      // box-shadow: 0px 0px 1px 1px #AAA;
    }
    #showpiece {
      position: relative;
      top: calc(50% - 25rem);
      left: calc(30% - 25rem);
    }
    #showpiecesmall {
      position: absolute;
      top: calc(169%);
      left: calc(40%);
      // top: ca
    }
  }
  .bigCircle {
    width: 50rem;
    height: 50rem;
  }
  .mediumCircle {
    width: 21rem;
    height: 21rem;
  }

  #aboutMeContainer {
    position: relative;
    top: -450px;
    margin-left: 65%;
    margin-right: 15%;

    h1 {
      font-size: 60px;
      padding-bottom: 20px;
    }

    p {
      font-size: 27px;
      padding-bottom: 30px;
    }
  }
}

@media (min-width: 3300px) and (aspect-ratio: 16/9) {
  #landing {
    .titleText {
      font-size: 25em;
      margin-left: 9%;
    }
    #downScroll {
      font-size: 20em;
    }
    .social {
      width: 30%;
      margin-left: 60%;
      top: calc(50% - 10%);

      p {
        font-size: 3em;
        font-weight: 600;
      }
      a {
        font-size: 21em;
      }
    }
  }
  #aboutMe {
    .sidebar {
      width: 30%;
      height: 100%;
      float: left;
      background-color: $gainsclr;
      // box-shadow: 0px 0px 1px 1px #AAA;
    }
    #showpiece {
      position: relative;
      top: calc(50% - 37.5rem);
      left: calc(30% - 37.5rem);
    }
    #showpiecesmall {
      position: absolute;
      top: calc(169%);
      left: calc(40%);
      // top: ca
    }
  }
  .bigCircle {
    width: 75rem;
    height: 75rem;
  }
  .mediumCircle {
    width: 34rem;
    height: 34rem;
  }

  #aboutMeContainer {
    position: relative;
    top: -650px;
    margin-left: 65%;
    margin-right: 15%;

    h1 {
      font-size: 90px;
      padding-bottom: 20px;
    }

    p {
      font-size: 44px;
      padding-bottom: 30px;
    }
  }
}
